:root {
    --blueColor: #4285F4;
    --xamColor: #8f8f8f;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to right, #73D1F4, #9CEDEA);
}

.app__register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.app__register__text > h3 {
    color: rgb(255, 255, 255);
    font-size: 80px;
}

.app__register p { 
    font-size: 20px;
    font-weight: bold;
    color: #4286f49d;
    max-width: 530px;
    line-height: 27px;
}

.register__container {
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    padding: 60px;
    border-right: 30px solid var(--blueColor);
}

.register__container > h3 {
    font-size: 23px;
    color: var(--blueColor);
}

.register__container__account {
    margin-top: 40px;
}

.register__container__account > h4 {
    color: var(--xamColor);
    -webkit-user-select: none;
}

.register__container__account input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #E5E5E5;
    border: none;
    padding: 0 10px;
    font-size: 20px;
}

.register__container__password {
    margin-top: 20px;
}

.register__container__password > h4 {
    color: var(--xamColor);
    -webkit-user-select: none;
}

.register__container__password input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #E5E5E5;
    border: none;
    padding: 0 10px;
    font-size: 20px;
}

.register__container__dk {
    text-align: right;
    margin-top: 20px;
    -webkit-user-select: none;
    cursor: pointer;
}

.register__container__dk a {
    text-decoration: none;
    color: var(--blueColor);
}

.btnDangKy {
    width: 100%;
    height: 50px;
    background-color: var(--blueColor);
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 1600px) {
    .app__register {
        flex-wrap: wrap;
        padding: 50px 200px;
    }

    .register__container {
        margin-top: 30px;
    }

    .app__register__text {
        text-align: center;
    }

    .app__register__text > h3 {
        font-size: 50px;
    }
    
    .app__register p { 
        font-size: 17px;
    }
}
